version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
      - image: selenium/standalone-chrome
        environment:
          port: 4444:4444

    working_directory: ~/repo

    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: mvn clean test jacoco:report coveralls:report -Dremote=true